body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
}

form input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
